{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <ul>
            {% for key,val in links %}
            <li><a href="{{ val }}">{{ key }}</a></li>
            {% endfor %}
        </ul>
        <h1>This is an A to Z listing of programmes</h1>
        <h2>{{ letter }}</h2>
    </div>
{% endblock %}
